{{include head.html}}
  <body>
    <div id="content" class="archive">
      <header>
        <a href="/"><h1>Michael Sloan</h1></a>
      </header>
      {{if is-index}}
      <h2 class="category">
        <div style="position: relative; display: inline-block; top: -1em;">posts about</div>
        <div style="display: inline-block">
          <a href="/category-ergonomics">ergonomics</a>
          <br/>&<br/>
          <a href="/category-software">software</a>
        </div>
      </h2>
      {{end}}
      {{if is-ergonomics}}
      <h2 class="category">posts about ergonomics
        <div class="other-category">(see also <a href="/category-software">posts about software</a>)</div>
      </h2>
      {{end}}
      {{if is-software}}
      <h2 class="category">
        posts about software
        <div class="other-category">(see also <a href="/category-ergonomics">posts about ergonomics</a>)</div>
      </h2>
      {{end}}
      {{foreach archive-year}}
        <h2>{{year}}</h2>
        {{foreach post}}
          <h3><a href="{{url}}">{{title-html}}</a></h3>
          <p>{{synopsis-html}} <a href="{{url}}" class="smcp" tabindex=-1>Read </a></p>
        {{end}}
      {{end}}
      <p><i>
        I hope you found something interesting or helpful!<br>
        If you like, you can subscribe to my <a href="/feed.xml" tabindex=-1>Atom feed</a>.
      </i></p>
      <br>
      {{if has-pages}}
      <h2 class="category">Non-Posts</h2>
      <p>
        <i>
          Some things don't fit blog post conventions.<br>
          The pages below are likely to grow and change:
        </i>
      </p>
      <div class="non-post-body">
        {{page-index-html}}
      </div>
      {{end}}
    </div>
    {{include footer.html}}
  </body>
</html>
