<footer>
  <div id="footer">
    <!-- TODO: Fill out a section like this.
    <h2>About me</h2>
    <nav class="smcp">
      <a href="/">About</a><br>
      <a href="/writing">Writing</a><br>
      <a href="https://github.com/mgsloan">GitHub</a><br>
      <a href="/contact">Contact</a>
    </nav>
    -->
    <p id="notices" class="smcp">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Copyleft {{year-range}}</a>
      <span id="breakdot">&middot;</span>
      Michael G Sloan
      <span id="breakdot">&middot;</span>
      <a href="https://github.com/mgsloan/mgsloan-site">Sourcecode</a>
    </p>
    <p id="profile-links" class="smcp">
      <a href="https://github.com/mgsloan">GitHub</a>
      <span id="breakdot">&middot;</span>
      <a href="https://twitter.com/mg_sloan">Twitter</a>
    </p>
  </div>
</footer>
