<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/favicon.png" rel="icon" type="image/png">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="https://mgsloan.com{{url}}" rel="canonical">
    <meta charset="utf-8"> <!-- TODO: or do not set it and escape everything? -->
    {{if synopsis}}
    <meta name="description" content="{{synopsis}}">
    {{end}}
    <meta name="author" content="Michael G Sloan">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- TODO: is this still required in 2015? -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <style>
      {{include page.css}}
    </style>
  </head>
