{{include head.html}}
  <body>
    <article id="content" itemscope>
      <header>
        <h1>{{header}}</h1>
        {{if part}}<p class="smcp">Part {{part}}</p>{{end}}
        {{if subheader}}<h2>{{subheader}}</h2>{{end}}
        <p>
          <a href="/" class="author">mgsloan</a><br>
          <time datetime="{{short-date}}" itemprop="datePublished">{{short-date}}</time>
        </p>
        <hr class="hairline">
      </header>
      {{content}}
    </article>
    <section id="teaser-section">
      <div id="teaser">
        <p class="smcp">More words</p>
        <h2>{{further.title-html}}</h2>
        <p>{{further.synopsis-html}} <a href="{{further.url}}" class="smcp">Read full post</a></p>
      </div>
    </section>
    {{include footer.html}}
  </body>
</html>
